<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Create and share a check list just a second! Publist - Never miss a thing!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <!--For jquery calling REST API-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--For material icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

<div class="todo-content">
    <h1 class="page-title"> My Todo </h1>

    <div class="todo-create">
        <!--Create a text box and handle ENTER to create item-->
        <form action="#">
            <input type="text" id="taskNameTextField" class="form-control" onkeypress="handleEnterKey(event)"
                   placeholder="Input task name then tap Enter to add">
        </form>
    </div>

    <ul class="todo-list">
    </ul>

    <!-- First grab an UUID from backend -->
    <script th:inline="javascript">
            /*<![CDATA[*/
            var glistId = /*[[${listId}]]*/
        /*]]>*/
        </script>

    <script>
            function handleEnterKey(e) {
                if (e.keyCode === 13) {
                    e.preventDefault(); // Ensure it is only this code that run
                    var taskName = document.getElementById('taskNameTextField').value
                    // Clear input field!
                    $("#taskNameTextField").val('');

                    // Check if we are editing or not!
                    var isEditing = $("#taskNameTextField").attr("isEditing");

                    if (isEditing)
                    {
                        // clear editing flag.
                        $("#taskNameTextField").removeAttr("isEditing");
                        var itemId = $("#taskNameTextField").attr("editingItemId");
                        $("#taskNameTextField").removeAttr("editingItemId");
                        putEditTodoItem(itemId, taskName, glistId);
                    }
                    else
                    {
                        postNewTodoItem(taskName, glistId);
                    }
                }
            }

            // change Done state of an item
            function changeDoneState(ele) {
                var itemId = $(ele).attr("id"); // get the item id!
                $.ajax({
                    type: "PUT",
                    url: "http://localhost:4000/api/v1/state/" + itemId,
                    success: function (data) {
                        // Create new list item
                        var newListItem = $('<li/>')
                            .attr("id", "item" + data.itemId);

                        if (data.isDone)
                        {
                            newListItem.addClass('completed')
                        }

                        var todoRow = createTodoRow(newListItem, data);

                        // Replace the old one by the new one
                        var oldListItem = $("#item" + itemId);
                        oldListItem.replaceWith(newListItem);
                    },
                    error: function (data) {
                    }
                });
            }

            function putEditTodoItem(itemId, taskName, listId)
            {
                var newTodoItem = {
                    itemId: itemId,
                    taskName: taskName,
                    listId: listId
                };
                var requestJSON = JSON.stringify(newTodoItem);
                $.ajax({
                    type: "PUT",
                    url: "http://localhost:4000/api/v1/edit",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: requestJSON,
                    success: function (data) {
                        // Create new list item
                        var newListItem = $('<li/>')
                        .attr("id", "item" + data.itemId);

                        if (data.isDone)
                        {
                            newListItem.addClass('completed')
                        }

                        createTodoRow(newListItem, data);

                        // Replace the old one by the new one
                        var oldListItem = $("#item" + data.itemId);
                        oldListItem.replaceWith(newListItem);
                    },
                    error: function (data) {
                    }
                });
            }

            function postNewTodoItem(taskName, listId)
            {
                var newTodoItem = {
                    taskName: taskName,
                    listId: listId
                };
                var requestJSON = JSON.stringify(newTodoItem);
                $.ajax({
                    type: "POST",
                    url: "http://localhost:4000/api/v1/new",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: requestJSON,
                    success: function (data) {
                        var cList = $('ul.todo-list');
                        var li = $('<li/>')
                            .attr("id", "item" + data.itemId)
                            .appendTo(cList);

                        createTodoRow(li, data);
                    },
                    error: function (data) {
                    }
                });
            }

            function deleteTodoItem(ele) {
                var itemId = $(ele).attr("id"); // get the item id!
                $.ajax({
                    type: "DELETE",
                    url: "http://localhost:4000/api/v1/delete/" + itemId,
                    success: function (data) {
                        var oldItem = $("#item" + itemId);
                        cuteHide(oldItem);
                        oldItem.remove();
                    },
                    error: function (data) {
                    }
                });
            }

            function editTodoItem(ele)
            {
                // first get item id
                var itemId = $(ele).attr("id");
                // then get list item we created before.
                var listItem =  $("#item" + itemId);
                var titleSpan = listItem.find(".todo-title");

                // set the text field
                $("#taskNameTextField").val(titleSpan.text());
                // set the attribute that we are editing!
                $("#taskNameTextField").attr("isEditing", true);
                $("#taskNameTextField").attr("editingItemId", itemId);
            }

            function createTodoRow(parent, data)
            {
                var todoRow = $('<div/>')
                    .addClass('todo-row')
                    .appendTo(parent)

                // Check BOX
                var checkBoxAttr = $('<a/>')
                    .attr("id", data.itemId) // to know item id!
                    .attr("onclick", "changeDoneState(this)")
                    .addClass('todo-completed')
                    .appendTo(todoRow);

                var checkBoxIcon = $('<i/>')
                    .addClass('material-icons toggle-completed-checkbox')
                    .appendTo(checkBoxAttr);

                // Task Name
                var todoTitle = $('<span/>')
                    .addClass('todo-title')
                    .text(data.taskName)
                    .appendTo(todoRow);

                // Actions
                var todoActions = $('<span/>')
                    .addClass('todo-actions')
                    .appendTo(todoRow)

                // Edit icon
                var editAttr = $('<a/>')
                    .attr("id", data.itemId) // to know item id!
                    .attr("onclick", "editTodoItem(this)")
                    .appendTo(todoActions);

                var editIcon = $('<i/>')
                    .addClass('material-icons')
                    .text('edit')
                    .appendTo(editAttr);

                // Delete icon
                var deleteAttr = $('<a/>')
                    .attr("id", data.itemId) // to know item id!
                    .attr("onclick", "deleteTodoItem(this)")
                    .appendTo(todoActions);

                var deleteIcon = $('<i/>')
                    .addClass('material-icons')
                    .text('delete')
                    .appendTo(deleteAttr);
            }
            // For animation when deleting
            function cuteHide(el) {
                    el.animate({ opacity: '0' }, 300, function () {
                        el.animate({ height: '0px' }, 300, function () {
                            el.remove();
                        });
                    });
                }
        </script>
</div>
</body>

</html>