<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-e
xtras-springsecurity4">
<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<h1>Start page</h1>
<div>
    <p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h2>Very very secret - only for admins!</h2>
        <a href="/admin">Admin page</a>
    </div>
</div>
</body>
</html>